$('#message-block-<%= message.thread_id %>').prepend('<hr>');
$('#message-block-<%= message.thread_id %>').prepend('<li class="pull-left message"><span class="user-name-list"><%= message.user.name %></span><span class="message-list"><%= message.message %></span></li><li class="pull-right"><span class="date-list"><%= Date.parse(message.updated_at.to_s).strftime("%b %d, %Y") %></span><br><span class="date-list"><%= message.created_at.strftime("%I:%M:%S %P") %></span></li><br>');
$('#message_message').val('');