<!DOCTYPE html>
<html>
<head>
  <title>Familyapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
    <div class="row">
      <header class="navbar navbar-fixed-top navbar-inverse">
        <nav>
          <% if logged_in? %>
            <ul class="nav navbar-nav pull-left top-nav">
              <li><%= link_to "O'Rourke", home_path, class: "family-name" %><li>
            </ul>
            <ul class="nav navbar-nav pull-right top-nav">
              <li><%= link_to "Home",   home_path %></li>
              <li><%= link_to "Help",   '#' %></li>
              <li><%= link_to "Log Out", sign_out_path, method: "delete" %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav pull-left top-nav">
              <li><%= link_to "FamilyApp", home_path, class: "family-name" %><li>
            </ul>
            <ul class="nav navbar-nav pull-right top-nav">
              <li><%= link_to "Sign Up", sign_up_path %></li>
              <li><%= link_to "Log In", sign_in_path %></li>
            </ul>
          <% end %>
        </nav>
      </header>
    </div>
  </div>

  <div class="container-fluid non-header">
    <div class="row">
      <div class="non-header" id="left-menu">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><%= link_to "Threads", threads_path %></li>
          <li role="presentation"><a href="#">Calendar</a></li>
          <li role="presentation"><a href="#">Events</a></li>
          <li role="presentation"><a href="#">Polls</a></li>
          <li role="presentation"><a href="#">Family</a></li>
          <li role="presentation"><a href="#">My Profile</a></li>
          <li role="presentation"><a href="#">Albums</a></li>
          <li role="presentation"><a href="#">Settings</a></li>
        </ul>
      </div>
  
      <div class="non-header pull-right" id="main">
        <%= image_tag "myfamily.png", class: "main-banner-image" %>
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> center"><%= value %></div>
        <% end %>
        <div class="full">
          <%= yield %> 
        </div>
      </div>
    </div>
  </div>


  
  

</body>
</html>
